*{
    font-family: 'Krub', sans-serif;
}
.heading{
    background-color: #000000;
    color: white;
    padding:2vh 0;
}
.img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width:100%;
    padding:20px 0;
}
.center{
    text-align: center;
}
.card{
    margin:15px 0;
}
.image{
    height: 15px;
    margin:2px 5px;
}
/*.horizontal-center{*/
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translate(-50%,0);*/
/*}*/
#map,#droneMap {
    position: static;
    height: 400px;
    width:100%;

}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.content-container{
    padding:15px 10px;
}
.modal-backdrop{
    z-index: 10;
}​

